<mat-card>
  <form #nome>
    <mat-form-field color="black" >
      <input matInput required [(ngModel)]="recordParameter.fristPeriod" placeholder="date" type="date"
             name="fristPeriod">
    </mat-form-field>
    <mat-form-field>
      <input matInput required [(ngModel)]="recordParameter.secondPeriod" placeholder="date" type="date"
             name="fristPeriod" >
    </mat-form-field>
    <mat-form-field>
      <input matInput required [(ngModel)]="recordParameter.login" placeholder="login"
             name="id" >
    </mat-form-field>

    <button mat-raised-button color="primary" class="buttonFind" (click)="list()">
      Buscar
    </button>
  </form>
</mat-card>

<app-faults-list [faults]="faults" ></app-faults-list>

